<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <hotel-menu></hotel-menu>
  </mat-drawer>
  <mat-drawer-content class="sidenav-content">
    <section class="content">
      <h4 class="title">Lista de Reservas</h4>
      <mat-form-field appearance="fill" class="filter">
        <mat-label>Filtrar Hotel</mat-label>
        <input matInput (keyup)="applyFilter($event)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <ng-container *ngIf="bookingList; else noContent">
        <table mat-table [dataSource]="bookingList" class="hotel-table">
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let hotel" class="buttons">
              <button
                class="icon-btn"
                (click)="bookingDetails(hotel)"
                matTooltip="Ver Detalles"
              >
                <i class="fi fi-rr-file-circle-info"></i>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="hotel">
            <th mat-header-cell *matHeaderCellDef>Hotel</th>
            <td mat-cell *matCellDef="let hotel">{{ hotel.hotel }}</td>
          </ng-container>
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef>Ubicación</th>
            <td mat-cell *matCellDef="let hotel">{{ hotel.ubicacion }}</td>
          </ng-container>
          <ng-container matColumnDef="initialDate">
            <th mat-header-cell *matHeaderCellDef>Fecha llegada</th>
            <td mat-cell *matCellDef="let hotel">
              {{ hotel.fechaInicio | date : "longDate" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="finishDate">
            <th mat-header-cell *matHeaderCellDef>Fecha salida</th>
            <td mat-cell *matCellDef="let hotel">
              {{ hotel.fechaFin | date : "longDate" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </ng-container>
      <mat-paginator
        class="paginator"
        [pageSizeOptions]="[5, 10, 20]"
      ></mat-paginator>
    </section>
    <ng-template #noContent>
      <no-content-table> No hay datos disponibles.</no-content-table>
    </ng-template>
  </mat-drawer-content>
</mat-drawer-container>
