@import "./colors";

.hotel-table {
  border-radius: 5px 5px 0 0;
  overflow: hidden !important;
  width: 100%;

  thead {
    tr {
      height: 40px;
      background-color: $cadet-grey;

      th {
        color: white !important;
        font-size: 14px;
      }
    }
  }

  tbody {
    tr {
      height: 40px;
      background-color: #f5f8fa;
    }
  }
}
