<div [ngClass]="{ 'menu-container': expanded, 'menu-toggle': !expanded }">
  <img src="assets/images/logo-menu.png" alt="Menu logo" />
  <h5 class="menu-title">Menú</h5>
  <div class="menu-content">
    <div class="menu-item">
      <div matRipple class="selectable-item menu-item-label" (click)="goTo('')">
        <i class="fi fi-rr-briefcase"></i>
        <span>Administrar hoteles</span>
      </div>
      <div
        matRipple
        class="selectable-item menu-item-label"
        (click)="goTo('new')"
      >
        <i class="fi fi-rr-square-plus"></i>
        <span>Registrar hotel</span>
      </div>
      <div
        matRipple
        class="selectable-item menu-item-label"
        (click)="goTo('bookings')"
      >
        <i class="fi fi-rr-search-alt"></i>
        <span>Visualizar reservas</span>
      </div>
      <div
        matRipple
        class="selectable-item menu-item-label"
        (click)="finishSesion()"
      >
        <i class="fi fi-rr-sign-out-alt"></i>
        <span>Cerrar sesión</span>
      </div>
    </div>
    <div class="menu-item toggle">
      <div matRipple class="selectable-item menu-item-label" (click)="toggle()">
        <i
          [ngClass]="expanded ? 'fi fi-rr-angle-left' : 'fi fi-rr-angle-right'"
        ></i>
      </div>
    </div>
  </div>
</div>
