<h3 mat-dialog-title class="title">¡Finaliza llenando los siguientes datos!</h3>
<mat-dialog-content>
  <section class="data-reservation">
    <p><b> Hotel: </b>{{ initialData.hotel }}</p>
    <p><b> Ubicacion: </b> {{ initialData.ubicacion }}</p>
    <p>
      <b> Fecha llegada: </b> {{ initialData.fechaInicio | date : "longDate" }}
    </p>
    <p><b> Fecha Salida: </b> {{ initialData.fechaFin | date : "longDate" }}</p>
    <p><b> Cantidad personas: </b> {{ initialData.cantidadPersonas }}</p>
    <p><b> Valor: </b> {{ initialData.valor | currency }}</p>
  </section>

  <form [formGroup]="passengerForm">
    <div formArrayName="formArray">
      <div *ngFor="let item of getIterations(); let i = index">
        <p class="subtitle">Huesped {{ i + 1 }}</p>
        <section class="form" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="nombres" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="apellidos" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Tipo de documento</mat-label>
            <mat-select formControlName="tipoDocumento">
              <mat-option
                *ngFor="let type of documentType"
                [value]="type.value"
              >
                {{ type.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Número de documento</mat-label>
            <input matInput formControlName="documento" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Fecha de nacimiento</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="fechaNacimiento"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Genero</mat-label>
            <input matInput formControlName="genero" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono" />
          </mat-form-field>
        </section>
      </div>
    </div>
  </form>

  <p>Contacto de emergencia</p>
  <form class="form" [formGroup]="emergencyContactForm">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombreCompleto" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telefono</mat-label>
      <input matInput formControlName="telefono" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" class="cancel-btn" mat-dialog-close>
    Cancelar
  </button>
  <button
    mat-raised-button
    class="primary-btn"
    (click)="reserve()"
    cdkFocusInitial
  >
    Reservar
  </button>
</mat-dialog-actions>
