@import "styles/utilities/colors";

/* Estilos para dispositivos móviles */

header {
  background-color: $cadet-grey;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  width: 150px;
}

footer {
  margin-top: 200px;
  text-align: center;
  margin-bottom: 20px;
}
h3 {
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 900;
  color: $mulled-whine;
}

.body {
  margin: 50px 100px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 800;
  color: $mulled-whine;
}

.info-text {
  font-size: 1.2rem;
  font-weight: 300;
}

.data-booking {
  display: flex;
  margin-top: 50px;

  justify-content: center;
  gap: 20px;
}

.btn-lg {
  width: 270px;
  height: 55px;
  background-color: $carmine-pink !important;
  color: $white !important;
}

.icon-btn {
  align-items: center;
  background-color: unset;
  border-radius: 50%;
  border: unset;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 5px;
  width: 10px;
  & > i {
    color: #60686b;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  header {
    gap: 10px;
  }
  img {
    width: 80px;
  }
  h3 {
    font-size: 1.2rem;
  }
  .subtitle {
    font-size: 1.1rem;
  }
  .info-text {
    font-size: 1rem;
  }
  .data-booking {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  mat-form-field {
    width: 260px;
  }
  .btn-lg {
    align-self: center;
    width: 190px;
    height: 40px;
    margin-bottom: 20px;
  }
  footer {
    margin-top: 10px;
  }

  .body {
    margin: 10px 10px;
  }
}
