@import "styles/utilities/colors";
header {
  background-color: $cadet-grey;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  width: 150px;
}

h3 {
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 900;
  color: $mulled-whine;
}

@media screen and (min-width: 1281px) {
  body {
    margin: 50px 500px;
  }
}

@media screen and (max-width: 1280px) {
  body {
    margin: 50px 200px;
  }
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 800;
  color: $mulled-whine;
}

.info-text {
  font-size: 1.2rem;
  font-weight: 300;
}

.data-booking {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  gap: 20px;
}

.btn-lg {
  width: 270px;
  height: 55px;
  background-color: $carmine-pink !important;
  color: $white !important;
}

.icon-btn {
  align-items: center;
  background-color: unset;
  border-radius: 50%;
  border: unset;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 5px;
  width: 10px;
  & > i {
    color: #60686b;
    font-size: 20px;
  }
}
