<div class="login-form-container">
  <div class="card flex-column">
    <img src="assets/images/logo-menu.png" alt="Logo" />
    <h4>¡Te damos la bienvenida!</h4>

    <form
      class="flex-column login-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="fill">
        <mat-label>Corre electrónico</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <button type="submit" class="btn-lg" mat-raised-button color="primary">
        Ingresar
      </button>
    </form>
  </div>
</div>
<div class="cover"></div>
